{% extends "layout.html" %}
    {% block content %}
        <div class="container w-50 bg-light rounded">
            <table class="table table-bordered">
                <tr>
                <th class=""><h5 class="">Medicine</h5></th>
                <th class=""><h5 class="">Dousage</h5></th>
                <th class=""><h5 class="">Times per day</h5></th>
                </tr>
                <tr>
                    <td><p>Paracitamole</p></td>
                    <td><p>One Tablet</p></td>
                    <td><p>2 Times</p></td>
                </tr>
                <tr>
                    <td><p>Vitamine C</p></td>
                    <td><p>One Tablet</p></td>
                    <td><p>1 Time</p></td>
                </tr>
                <tr>
                    <td><p>Glucose</p></td>
                    <td><p>Any</p></td>
                    <td><p>Any</p></td>
                </tr>
            </table>
        </div>

{% endblock %}